# Postgres 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=54321
POSTGRES_DB=DB

# Minio
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=secret123

# RabbitMq
RabbitMQ__Host=rabbitmq
RabbitMQ__Username=admin
RabbitMQ__Password=admin

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# =================== API ===================
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000
# CORS
Cors__AllowedOrigins__0=http://localhost:3000

# DB
ConnectionStrings__AnimeAppDbContext=Host=postgres;Port=5432;Database=DB;Username=postgres;Password=54321
ConnectionStrings__Redis=redis:6379

# JWT
JwtOptions__Secretkey=DEV_SUPER_SECRET_KEY_DEV_SUPER_SECRET_KEY_DEV_SUPER_SECRET_KEY_DEV_SUPER_SECRET_KEY

# MinIO
Minio__PublicUrl=http://localhost:9000

# S3
AWS__AccessKey=AccessKey
AWS__SecretKey=SECRETKEY
AWS__ServiceURL=http://host.docker.internal:9000
AWS__BucketName=Images

# Seq
Serilog__WriteTo__1__Args__serverUrl=http://seq:80
SEQ_ADMINPASSWORD=password

# Balancer keys
MOONAPI__BASEURL=url
MOONAPI__APIKEY=key

KODIKAPI__BASEURL=url
KODIKAPI__APIKEY=key
